<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<import resource="classpath*:comConf/CommonConfig.xml" />

    <bean id="MainServerConfiguration" class="com.purefun.fstp.core.configuration.FstpConfiguration">  
		<property name="serviceName" value="MonitorService"/>
		<property name="isServer" value="true"/>
    	<property name="cacheType" value="Ignite"/>
    	<property name="MQType" value="Qpid"/>
    	<property name="managerBOMap">
    		<map>
    			<entry key="com.purefun.fstp.core.bo.TestBO"    		value="fstp.core.rpc.testone"/>
    			<entry key="com.purefun.fstp.core.bo.TestBO2"    		value="fstp.core.rpc.testtwo"/>
    		</map>
    	</property>   	
    </bean>
    
    <bean id="MainServer" class="com.purefun.fstp.core.service.testservice.TestService">  
    	<!--  <constructor-arg name="serverName" value="MonitorService"></constructor-arg>-->
        <constructor-arg name="config" type="com.purefun.fstp.core.configuration.FstpConfiguration" ref="MainServerConfiguration"></constructor-arg>  
   	</bean>	
   	
   	<bean id="cacheConfigurationList" class="java.util.ArrayList">
  		<constructor-arg>
	  		<list>
                <bean class="org.apache.ignite.configuration.CacheConfiguration">
	  			 	<property name="name" value="com.purefun.fstp.core.bo.TestBO"></property>  
         			<property name="indexedTypes">
               			<array>
                    		<value>java.lang.String</value>
                    		<value>com.purefun.fstp.core.bo.TestBO</value>
               			</array>
         			</property>  
                </bean>
                <bean class="org.apache.ignite.configuration.CacheConfiguration">
                    <property name="name" value="redis-ignite-internal-cache-0"/>
                    <property name="atomicityMode" value="ATOMIC"/>                  
                </bean>
	  		</list>
	  	</constructor-arg>
  	</bean>	 	
   	   	
</beans>